body{
font-style: initial;
text-align: justify;
font-family: Georgia, 'Times New Roman', Times, serif
}

a{
    text-decoration: solid;
    font-weight: bold;
}
.image {
    width: 100%;
    height: 60%;
}
footer   {
    background-color: black;
    color: aliceblue;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}